*.iml
*.ipr
*.iws
.idea/**
!.idea/codeStyleSettings.xml
!.idea/inspectionProfiles
!.idea/inspectionProfiles/Project_Default.xml
.gradle
build
github.properties
jacoco.exec
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*.keystore
/build
/captures
.externalNativeBuild
.cxx
local.properties

